{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<h2>Sign up</h2>
<form action="{{ url_for('add_user') }}" method=post class=add-user>
    Email<input name="email" type="email"required><br>
    Password<input type="password" name="password1" required><br>
    Repeat password<input type="password"  name="password2" required><br>
    First Name<input type="text" name="firstname" required><br>
    Family Name<input type="text" name="familyname" required><br>
    Gender
    <select name="gender">
        <option>Male</option>
        <option>Female</option>
    </select><br>
    City<input type="text" name="city" required><br>
    Country<input type="text" name="country" required><br>
    <input type=submit value="Create user">
</form>
<hr>
{% endif %}
<ul class=entries>
    <h2>Users</h2>
    {% for user in users %}
    <li><h2>{{ user.email}}</h2>
        {{ user.firstname|safe }}
        {{ user.familyname|safe }}
        {{ user.gender|safe }}
        {{ user.city|safe }}
        {{ user.country|safe }}
        {% else %}
    <li><em>Unbelievable. No users so far</em>
        {% endfor %}
</ul>
{% endblock %}